.ajp-container {
    display: flex;
    position: relative;
    margin-top: 40px;
    width: 1400px;
    gap: 10px;
    height: 100vh;
}


.ajp-articlesView {
    flex: 2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90vh;
}

.ajp-articlePreview {
    flex: 3;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    overflow-y: scroll;
    height: 90vh;
    position: relative;
}


@media (max-width: 1620px) {
    .ajp-container {
        width: 90vw;
    }
}