.at-container, .at-selected {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-block: 30px;
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 80px;
    transition: background-color 0.4s ease;
    justify-content: space-between;
    cursor: pointer;
}

.at-selected {  
    background-color: #939F5C;
    color: white;
    transition: background-color 0.6s ease;

}
.at-title {
    font-size: 1em;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}

.at-photo {
    height: 80%;
    border-radius: 2px;
}

.at-container:hover {
    background-color: #ccc;
    cursor: pointer;
}

.at-buttonContainer {
    margin-left: auto;
    display: flex;
    gap: 10px;
}


.actionButton:hover {
    border-color: aliceblue;
    background-color: azure;
}

@media (max-width: 900px) {
    .at-container, .at-selected {
        height: 100px;
    }
    .at-photo {
        height: 0px;
    }
    .at-buttonContainer {
        width: 150px;
        height: 50px;
    }
    

}